<!DOCTYPE html>
<html>

<head>
  <title>
    <%=typeof title == 'undefined' ? 'Q-pon' : title%>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/css/ion.rangeSlider.skinHTML5.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/normalize.css">

</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/qpon/index">Q-pon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="navbar" class="navbar-nav">
          <a class="nav-item nav-link <%= req.path=='/qpon/index'?'active':''%>" href="/qpon/index">Home</a>
          <a class="nav-item nav-link <%= req.path=='/qpon/search'?'active':''%>" href="/qpon/search">Search</a>
          <a class="nav-item nav-link <%= req.path=='/qpon/create'?'active':''%>" href="/qpon/create">Create</a>
          <a class="nav-item nav-link <%= req.path=='/qpon/admin'?'active':''%>" href="/qpon/admin">Admin</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Q-pon</h1>
        <p class="lead">Redeem your coins for dining coupons.</p>
      </div>
    </div>
    <%- body %>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.2.0/js/ion.rangeSlider.min.js"></script>
  <script src="/js/dependencies/sails.io.js"></script>

</body>

</html>

<script>
  var saveResult = function (data) {
    from = data.from;
    to = data.to;
  };

  $(function () {
    $(".range_03").ionRangeSlider({
      keyboard: true,
      min: 0,
      max: 10000,
      from: $('#coin_range').val()?$('#coin_range').val().split(';')[0]:10,
      to: $('#coin_range').val()?$('#coin_range').val().split(';')[1]:10000,
      type: 'double',
      step: 1,
      prefix: "$",
      grid: true,
    });
  });

  $(function () {
    $('.datepicker').datepicker();
  });

</script>
