<!--admin.ejs-->
<table class="table table-striped">
  <th>ID</th>
  <th>Title</th>
  <th>Restaurant</th>
  <th></th>
  <th></th>
  <% qpons.forEach( function(model) { %>
    <tr>
      <td>
        <%= model.id %>
      </td>
      <td>
        <%= model.title %>
      </td>
      <td>
        <%= model.rest %>
      </td>
      <td>
        <a href="/qpon/update/<%= model.id %>">Update</a>
      </td>
      <td>
        <a href="/qpon/delete/<%= model.id %>">Delete</a>
      </td>
    </tr>
    <% }); %>
</table>
