<!--index.ejs-->
<body>
  <div class="row">
    <div class="col-12 col-lg-4">HK IsIand
      <%var i=0;%>
        <% qpons.reverse().forEach( function(model) { %>
          <% if (model.district=="hk" && i<2){%>
            <div class="card" align="middle">
              <img class="card-img-top" src="<%= model.image %>" alt="" width="280" height="220">
              <a class="card-title card-link" href="/qpon/detail/<%= model.id %>">
                <b>
                  <%= model.rest %>
                </b>
              </a>
              <p class="card-subtitle mb-2 text-muted">
                <%= model.title %>
              </p>
              <p class="card-text">Coins:
                <%= model.coin %>
              </p>
            </div>
            <br>
            <%i++%>
              <% }}); %>
    </div>
    <div class="col-12 col-lg-4">Kowloon
      <%var i=0;%>
        <% qpons.reverse().forEach( function(model) { %>
          <% if (model.district=="kl" && i<2){%>
            <div class="card" align="middle">
              <img class="card-img-top" src="<%= model.image %>" alt="" width="280" height="220">
              <a class="card-title card-link" href="/qpon/detail/<%= model.id %>">
                <b>
                  <%= model.rest %>
                </b>
              </a>
              <p class="card-subtitle mb-2 text-muted">
                <%= model.title %>
              </p>
              <p class="card-text">Coins:
                <%= model.coin %>
              </p>
            </div>
            <br>
            <%i++%>
              <% }}); %>

    </div>
    <div class="col-12 col-lg-4">New Territories
      <%var i=0;%>
        <% qpons.reverse().forEach( function(model) { %>
          <% if (model.district=="nt" && i<2){%>
            <div class="card" align="middle">
              <img class="card-img-top" src="<%= model.image %>" alt="" width="280" height="220">
              <a class="card-title card-link" href="/qpon/detail/<%= model.id %>">
                <b>
                  <%= model.rest %>
                </b>
              </a>
              <p class="card-subtitle mb-2 text-muted">
                <%= model.title %>
              </p>
              <p class="card-text">Coins:
                <%= model.coin %>
              </p>
            </div>
            <br>
            <%i++%>
              <% }}); %>
    </div>

  </div>
</body>
