<!--update.ejs-->
<form action="/qpon/update/<%= qpon.id %>" method="POST">
  <div class="row form-group">
    <div class="col-12 col-lg-6 div-left">
      <label>Title:</label>
      <input type="text" class="form-control" name="Qpon[title]" value="<%= qpon.title %>">
      <br>
      <label>Restaurant:</label>
      <input type="text" class="form-control" name="Qpon[rest]" value="<%= qpon.rest %>">
      <br>
      <label>District:</label>
      <select class="form-control" id="district" name="Qpon[district]" onchange="districtSelected(this.value)">
        <option value="nan">Please select a district</option>
        <option value="HK Island">HK Island</option>
        <option value="Kowloon">Kowloon</option>
        <option value="New Territories">New Territories</option>
      </select>
      <br>
      <label>Mall</label>
      <select class="form-control" id="mall" name="Qpon[mall]" disabled>
      </select>
      <br>
      <label>Image:</label>
      <input type="text" class="form-control" name="Qpon[image]" value="<%= qpon.image %>">
    </div>
    <div class="col-12 col-lg-6 div-right">
      <label>Coin:</label>
      <input type="number" class="form-control" name="Qpon[coin]" value="<%= qpon.coin %>">
      <br>
      <label>Deal Valid Till:</label>
      <input type="text" class="form-control datepicker" name="Qpon[date]" data-provide="datepicker" value="<%= qpon.date %>">
      <br>
      <label>Quota:</label>
      <input type="number" class="form-control" name="Qpon[quota]" value="<%= qpon.quota %>">
      <br>
      <label>Details:</label>
      <textarea class="form-control" name="Qpon[details]" style="width:100%;height:30%"><%=qpon.details%></textarea>
    </div>
  </div>
  <br>
  <br>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<script>
  var hk = ["IFC", "金鐘太古廣場", "時代廣場", "銅鑼灣世貿中心", "太古城中心", "杏花新城商場", "數碼港商場"];
  var kl = ["圓方 Elements", "Harbour City 海港城", "美麗華商場", "黃埔新天地", "又一城", "朗豪坊商場", "新世紀廣場", "奧海城", "MegaBox", "德福廣場商場",
    "荷裡活廣場", "APM"
  ];
  var nt = ["荃新天地", "荃灣廣場", "悅來坊商場", "綠楊坊商場", "新都會廣場", "青衣城商場", "屯門市廣場", "東港城", "君薈坊商場", "連理街", "沙田新城市廣場", "大埔超級城"];

  function districtSelected(districtValue) {

    var mallSelect = document.getElementById("mall");
    mallSelect.options.length = 0;
    if (districtValue == "HK Island") {

      hk.forEach(function (item) {
        var option = document.createElement("option");
        option.text = item;
        option.value = item;
        mallSelect.add(option);
      });

      mallSelect.disabled = false;

    } else if (districtValue == "Kowloon") {

      kl.forEach(function (item) {
        var option = document.createElement("option");
        option.text = item;
        option.value = item;
        mallSelect.add(option);
      });

      mallSelect.disabled = false;

    } else if (districtValue == "New Territories") {

      nt.forEach(function (item) {
        var option = document.createElement("option");
        option.text = item;
        option.value = item;
        mallSelect.add(option);
      });

      mallSelect.disabled = false;

    } else {

      mallSelect.disabled = true;

    }

  }

  document.querySelector("option[value='<%=qpon.district%>']").setAttribute("selected", "selected");
  districtSelected('<%=qpon.district%>');
  document.querySelector("option[value='<%=qpon.mall%>']").setAttribute("selected", "selected");

</script>
